@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;1,400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100dvw;
  height: 100dvh;
  user-select: none;
  font-family: Mitr, "Courier New", Courier, monospace;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer base {
  @font-face {
    font-family: "LINE Seed Sans TH";
    font-style: 200;
    src: url("/fonts/LINESeedSansTH_W_Th.woff");
  }
  @font-face {
    font-family: "LINE Seed Sans TH";
    font-style: normal;
    src: url("/fonts/LINESeedSansTH_W_Rg.woff");
  }
  @font-face {
    font-family: "LINE Seed Sans TH";
    font-style: 600;
    src: url("/fonts/LINESeedSansTH_W_Bd.woff");
  }
  @font-face {
    font-family: "LINE Seed Sans TH";
    font-style: 800;
    src: url("/fonts/LINESeedSansTH_W_XBd.woff");
  }
  h1 {
    @apply text-2xl font;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  a {
    @apply text-link underline;
  }
}
.animate-delay-2000 {
  animation-delay: 2s;
}
