@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}
* {
  -webkit-user-drag: none;
}
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100dvw;
  height: 100dvh;
  user-select: none;
  font-family: LINE_Seed_Sans_TH, Mitr, "Courier New", Courier, monospace;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
@layer base {
  @font-face {
    font-family: "LINE_Seed_Sans_TH";
    font-weight: 100;
    src: url("/fonts/LINESeedSansTH_W_Th.woff") format("woff");
  }
  @font-face {
    font-family: "LINE_Seed_Sans_TH";
    font-weight: 400;
    src: url("/fonts/LINESeedSansTH_W_Rg.woff") format("woff");
  }
  @font-face {
    font-family: "LINE_Seed_Sans_TH";
    font-weight: 700;
    src: url("/fonts/LINESeedSansTH_W_Bd.woff") format("woff");
  }
  @font-face {
    font-family: "LINE_Seed_Sans_TH";
    font-weight: 800;
    src: url("/fonts/LINESeedSansTH_W_XBd.woff") format("woff");
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  a {
    @apply text-base;
  }
}
.animate-delay-2000 {
  animation-delay: 2s;
}
